<template>
  <div class="tab-pane fade" id="CommonQuestion" role="tabpanel" aria-labelledby="CommonQuestion-tab">
	<div class="clear topmargin-sm"></div>
												<ol class="commentlist border-0 m-0 p-0 clearfix">
													<single-common-question v-for="question in questions" :key="question.id" :question="question" />

												</ol>



  </div>
</template>

<script>

import SingleCommonQuestion from './SingleCommonQuestion.vue'
export default {
    props:{
questions:Object | Array
    },
  components: {  SingleCommonQuestion },

}
</script>

<style>

</style>
