<template>
    <div class="tab-pane fade show active" id="years" role="tabpanel" aria-labelledby="home-tab">

									<p>{{college.description}}</p>
                                    <h3>Generations</h3>
												<table class="table table-bordered table-striped">
												  <thead>
													<tr>
													  <th>Generation Name</th>
													  <th>Entry Date</th>
                                                      <th>Student Num  </th>
                                                       <th>Graudation Date </th>
													</tr>
												  </thead>
												  <tbody>
												<single-generation-component v-for="generation in college.generations" :key="generation.id" :generation="generation" />

												  </tbody>
												</table>
<div class="row">

    <h4>Number of Years {{college.years.length}}</h4>
</div>

  </div>
</template>

<script>
import SingleGenerationComponent from './SingleGenerationComponent.vue'
export default {
  components: { SingleGenerationComponent },
props:{
    college:Object
},

computed:{

}
}
</script>

<style>

</style>
