<template>
  <tr>
      <td>{{generation.name}}</td>

    <td>
      <code>{{generation.entry_date}}</code>
    </td>
    <td>{{generation.student_num}}</td>
    <td>
      <code>{{generation.graduation_date}}</code>
    </td>
  </tr>
</template>

<script>
export default {
props:{
    generation:Object
}

};
</script>

<style>
</style>
