<template>
   <div class="tab-pane fade" id="departments" role="tabpanel" aria-labelledby="contact-tab">

	<div class="row topmargin-sm">
												<single-department-component v-for="department in departments " :key="department.id" :department="department" />


												</div>


  </div>
</template>

<script>
import SingleDepartmentComponent from './SingleDepartmentComponent.vue'
export default {
    props:{

        departments:Array
    },

  components: { SingleDepartmentComponent },

}
</script>

<style>

</style>
