<template>
  	<div class="col-lg-3 col-md-6 bottommargin">

														<div class="team">

															<div class="team-desc">
																<div class="team-title"><h4>{{department.name}}</h4><span></span></div>

															</div>
														</div>

													</div>
</template>

<script>
export default {
props:{
    department:Object
}
}
</script>

<style>

</style>
