<template><div class="mt-4">
  	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row gutter-40 col-mb-80">
						<!-- Post Content
						============================================= -->
						<div class="postcontent col-lg-9">

							<!-- Posts
							============================================= -->
							<div id="posts" class="row gutter-40">

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="entry-image col-md-4">
											<a href="images/blog/full/17.jpg" data-lightbox="image"><img src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>
										</div>
										<div class="col-md-8 pl-md-4">
											<div class="entry-title title-sm">
												<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 10th Feb 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
													<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
													<li><a href="#"><i class="icon-camera-retro"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.</p>
												<a href="blog-single.html" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
							   		<div class="grid-inner row no-gutters">
										<div class="entry-image col-md-4">
											<iframe src="https://player.vimeo.com/video/87701971" width="500" height="281" allow="autoplay; fullscreen" allowfullscreen></iframe>
										</div>
										<div class="col-md-8 pl-md-4">
											<div class="entry-title title-sm">
												<h2><a href="blog-single-full.html">This is a Standard post with an Embedded Video</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 16th Feb 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Videos</a>, <a href="#">News</a></li>
													<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>
													<li><a href="#"><i class="icon-film"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis placeat quo unde reprehenderit eum facilis vitae.</p>
												<a href="blog-single-full.html" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="entry-image col-md-4">
											<div class="fslider" data-arrows="false" data-lightbox="gallery">
												<div class="flexslider">
													<div class="slider-wrap">
														<div class="slide"><a href="images/blog/full/10.jpg" data-lightbox="gallery-item"><img src="images/blog/small/10.jpg" alt="Standard Post with Gallery"></a></div>
														<div class="slide"><a href="images/blog/full/20.jpg" data-lightbox="gallery-item"><img src="images/blog/small/20.jpg" alt="Standard Post with Gallery"></a></div>
														<div class="slide"><a href="images/blog/full/21.jpg" data-lightbox="gallery-item"><img src="images/blog/small/21.jpg" alt="Standard Post with Gallery"></a></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-8 pl-md-4">
											<div class="entry-title title-sm">
												<h2><a href="blog-single-small.html">This is a Standard post with a Slider Gallery</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 24th Feb 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
													<li><a href="blog-single-small.html#comments"><i class="icon-comments"></i> 21</a></li>
													<li><a href="#"><i class="icon-picture"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores, sunt eveniet doloremque porro hic exercitationem distinctio sequi adipisci.</p>
												<a href="blog-single-small.html" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="col-12">
											<div class="entry-image">
												<blockquote>
													<p>"When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity."</p>
													<footer>Albert Einstein</footer>
												</blockquote>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 3rd Mar 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Quotes</a>, <a href="#">People</a></li>
													<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23</a></li>
													<li><a href="#"><i class="icon-quote-left"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="entry-image col-md-4">
											<div class="masonry-thumbs grid-container grid-4" data-big="3" data-lightbox="gallery">
												<a class="grid-item" href="images/blog/full/2.jpg" data-lightbox="gallery-item"><img src="images/blog/small/2.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/3.jpg" data-lightbox="gallery-item"><img src="images/blog/small/3.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/6-1.jpg" data-lightbox="gallery-item"><img src="images/blog/small/6-1.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/6-2.jpg" data-lightbox="gallery-item"><img src="images/blog/small/6-2.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/12.jpg" data-lightbox="gallery-item"><img src="images/blog/small/12.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/12-1.jpg" data-lightbox="gallery-item"><img src="images/blog/small/12-1.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/13.jpg" data-lightbox="gallery-item"><img src="images/blog/small/13.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/18.jpg" data-lightbox="gallery-item"><img src="images/blog/small/18.jpg" alt="Image"></a>
												<a class="grid-item" href="images/blog/full/19.jpg" data-lightbox="gallery-item"><img src="images/blog/small/19.jpg" alt="Image"></a>
											</div>
										</div>
										<div class="col-md-8 pl-md-4">
											<div class="entry-title title-sm">
												<h2><a href="blog-single-thumbs.html">This is a Standard post with Masonry Thumbs Gallery</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 3rd Mar 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
													<li><a href="blog-single-thumbs.html#comments"><i class="icon-comments"></i> 21</a></li>
													<li><a href="#"><i class="icon-picture"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga.</p>
												<a href="blog-single-thumbs.html" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="col-12">
											<div class="entry-image">
												<a href="https://themeforest.net" class="entry-link" target="_blank">
													Themeforest.net
													<span>- https://themeforest.net</span>
												</a>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 17th Mar 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Links</a>, <a href="#">Suggestions</a></li>
													<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 26</a></li>
													<li><a href="#"><i class="icon-link"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="col-12">
											<div class="entry-image">
												<div class="card">
													<div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga optio voluptatibus saepe tenetur aliquam debitis eos accusantium! Vitae, hic, atque aliquid repellendus accusantium laudantium minus eaque quibusdam ratione sapiente.
													</div>
												</div>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 21st Mar 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Status</a>, <a href="#">News</a></li>
													<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 11</a></li>
													<li><a href="#"><i class="icon-align-justify2"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row no-gutters">
										<div class="entry-image col-md-4">
											<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301161123&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
										</div>
										<div class="col-md-8 pl-md-4">
											<div class="entry-title title-sm">
												<h2><a href="blog-single.html">This is an Embedded Audio Post</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="icon-calendar3"></i> 28th Apr 2021</li>
													<li><a href="#"><i class="icon-user"></i> admin</a></li>
													<li><i class="icon-folder-open"></i> <a href="#">Audio</a>, <a href="#">General</a></li>
													<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 16</a></li>
													<li><a href="#"><i class="icon-music2"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga.</p>
												<a href="blog-single.html" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>

							</div><!-- #posts end -->

							<!-- Pager
							============================================= -->
							<div class="d-flex justify-content-between mt-5">
								<a href="#" class="btn btn-outline-secondary">&larr; Older</a>
								<a href="#" class="btn btn-outline-dark">Newer &rarr;</a>
							</div>
							<!-- .pager end -->

						</div><!-- .postcontent end -->

						<!-- Sidebar
						============================================= -->

					</div>

				</div>
			</div>
		</section><!-- #content end -->

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
