<template>
  <div class="container" v-if="!isAuth">
      <div class="row mt-4  ">
      <h3 class="offset-3 col-6">Login</h3>
      </div>
      <div >
<form class="row align-items-center" @submit="submitLogin">
<div class="offset-3 col-6">
<input type="email" v-model="creds.email" placeholder="Email" class="form-control" />

</div>

<div class="offset-3 col-6 mt-3">
<input type="password" v-model="creds.password" placeholder="Password" class="form-control" />

</div>
<div class="offset-3 col-6 mt-3">
<button class="btn btn-primary col-12" type="submit">Login</button>
</div>
</form>

      </div>
  </div>
  <div v-else>
 {{this.$router.push('/')}}
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
data(){

    return {
        creds:{
   email:null,
    password:null,
        }

}
},
methods:{
  submitLogin(e){
      e.preventDefault();
 this.$store.dispatch('login',this.creds);
  }
},
computed:{
    ...mapActions('login'),
    ...mapGetters(['isAuth'])
}


}
</script>

<style>

</style>
