<template>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="row gutter-40 posts-md mt-4">

											<single-gallery-component v-for="gallery in collegeGallery"
                                            :key="gallery.id"
                                            :gallery="gallery"
                                             />


<pagination   :data="paginatecollegeGallery" @pagination-change-page="filterCollegeGallery"></pagination>


												</div>



  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import singleGalleryComponent from './singleGalleryComponent.vue'
export default {
    props:{
   collegeId:Number | String
    },
  components: { singleGalleryComponent },
created(){
this.GetCollegeGallery({id:this.collegeId});
},
methods:{
...mapActions(['GetCollegeGallery']),
filterCollegeGallery(page){
this.GetCollegeGallery({id:this.collegeId,page});
}
},
computed:{
    ...mapGetters(['collegeGallery','paginatecollegeGallery'])
}
}
</script>

<style>

</style>
