<template>
  		<div class="entry col-12">
														<div class="grid-inner row align-items-center no-gutters">
															<div class="entry-image col-md-4">
																<a :href="gallery.logo" data-lightbox="image"><img :src="gallery.logo" alt="Standard Post with Image"></a>
															</div>
															<div class="col-md-8 pl-md-4">
																<div class="entry-title title-sm">
																	<h3><a href="blog-single.html">{{gallery.name}}</a></h3>
																</div>
																<div class="entry-meta">
																	<ul>
																		<li><i class="icon-calendar3"></i> {{gallery.created_at}}</li>
																		<li><a href="blog-single.html#comments"><i class="icon-comments"></i> {{gallery.university_calender.year}}</a></li>
																		<li><a href="#"><i class="icon-camera-retro">{{gallery.department.name}}</i></a></li>
																	</ul>
																</div>
																<div class="entry-content">
																	<p>{{gallery.description}}</p>

																</div>
															</div>
														</div>
													</div>
</template>

<script>
export default {
props:{
    gallery:Object
}
}
</script>

<style>

</style>
