<template>
<div>
    <header-component></header-component>

  <notifications group="foo" />
  <transition
  name="fade"
  enter-active-class="fadeIn"
  leave-active-class="fadeOut"

>

     <router-view style="animation-duration: 1s"  appear ></router-view>

</transition>
</div>
</template>

<script>
import HeaderComponent from '../shared/HeaderComponent.vue'
export default {
  components: { HeaderComponent },

}
</script>

<style>

</style>
