<template>
<div>
 <college-header-component></college-header-component>


  	<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts" class="row grid-container gutter-30">

					<single-college-component v-for="college in UniversityColleges[0].colleges" :key="college.id"
                       :college="college" />


					</div><!-- #posts end -->

					<!-- Pager
					============================================= -->

					<!-- .pager end -->

				</div>
			</div>
		</section><!-- #content end -->
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import CollegesComponent from '../CommonQuestions/CollegesComponent.vue';
import CollegeHeaderComponent from './CollegeHeaderComponent.vue'
import SingleCollegeComponent from './SingleCollegeComponent.vue';
export default {
  components: { CollegeHeaderComponent, CollegesComponent, SingleCollegeComponent },


computed:{
    UniversityColleges(){
        return  this.universities.filter(uni=>uni.id==this.$route.params.id) ;
    },
    ...mapGetters(['universities'])
}
}
</script>

<style>

</style>
