<template>
   	<section id="page-title">

			<div class="container clearfix">
				<h1>Colleges</h1>
				<span>  </span>

			</div>

		</section><!-- #page-title end -->

</template>

<script>
export default {

}
</script>

<style>

</style>
