<template>
  <div class="entry col-6">
							<div class="grid-inner">
								<div class="entry-image">
									<router-link :to="{ name: 'profile', params: { id:college.id } }"  data-lightbox="image"><img :src="Logo" alt="Standard Post with Image"></router-link>
								</div>
								<div class="entry-title">
									<h2><router-link :to="{ name: 'profile', params: { id:college.id } }">{{college.name}}</router-link></h2>
								</div>
								<div class="entry-meta">
									<ul>
										<li><i class="icon-calendar3"></i> {{college.created_at}}</li>
										<li><a href="#"><i class="icon-user"></i> {{college.site}}</a></li>

										<li><a href="#"><i class="icon-camera-retro"></i></a></li>
									</ul>
								</div>
								<div class="entry-content">
									<p>{{college.description}}</p>
									<router-link :to="{ name: 'profile', params: { id:college.id } }" class="more-link">Read More</router-link>
								</div>
							</div>
						</div>
</template>

<script>
export default {
props:{
    college:Object
}

,
computed:{
Logo(){
    return "/"+ this.college.logo;
}
}
}
</script>

<style>

</style>
