<template>
<div>

  <all-tabs-component :tabs="tabs"/>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<a href="#" class="button button-full button-purple center text-right header-stick bottommargin-lg">
					<div class="container clearfix">
						Canvas comes with Unlimited Customizations &amp; Options. <strong>Check Out</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

				<div class="container clearfix">

					<div class="heading-block center">
						<h1>Common Questions</h1>
						<span>We almost blog regularly about this &amp; that.</span>
					</div>

					<!-- Posts
					============================================= -->
				<main-common-questions> </main-common-questions>
					<!-- Pager
					============================================= -->

					<!-- .pager end -->

				</div>
			</div>
		</section><!-- #content end -->

</div>
</template>

<script>
import MainCommonQuestions from './CommonQuestions/MainCommonQuestions.vue'
import { mapActions, mapGetters } from 'vuex'
import AllTabsComponent from './Tabs/AllTabsComponent.vue'
    export default {
  components: { MainCommonQuestions, AllTabsComponent },
        mounted() {
            console.log('Component mounted.')
         this.$store.dispatch('GetTabs');
        }


		,
computed:{
    ...mapActions('GetTabs'),
    ...mapGetters(['tabs'])
}

    }
</script>
