<template>
  		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Contact</h1>
				<span>Get in Touch with Us</span>

			</div>

		</section><!-- #page-title end -->

</template>

<script>
export default {

}
</script>

<style>

</style>
