<template>
  	<form class="mb-0" id="template-contactform" name="template-contactform" @submit="PostFeedback" method="post">

									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4 form-group">
											<label for="template-contactform-name">Name <small>*</small></label>
											<input type="text" id="template-contactform-name" v-model="feedback.feedback_name" value="" class="sm-form-control required" />
										</div>

										<div class="col-md-4 form-group">
											<label for="template-contactform-email">Email <small>*</small></label>
											<input type="email" id="template-contactform-email" v-model="feedback.feedback_email" value="" class="required email sm-form-control" />
										</div>


										<div class="w-100"></div>






										<div class="col-12 form-group">
											<label for="template-contactform-message">Message <small>*</small></label>
											<textarea class="required sm-form-control" id="template-contactform-message" v-model="feedback.feedback_message" rows="6" cols="30"></textarea>
										</div>



										<div class="col-12 form-group">
											<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d m-0">Submit Feedback</button>
										</div>
									</div>

									<input type="hidden" name="prefix" value="template-contactform-">

								</form>
</template>

<script>
import {postContact} from './postContact'
export default {
data(){
    return {
        feedback:{
            feedback_message:null,
            feedback_email:null,
            feedback_name:null
        }
    }
}

,
methods:{

    ResetForm(){
this.feedback.feedback_message='';
this.feedback.feedback_email='';
this.feedback.feedback_name='';
    },

    PostFeedback(e){
        e.preventDefault();
postContact(this.feedback,this.ResetForm);
    }
}
}
</script>

<style>

</style>
