<template>
  <div>
    <div class="col-md-3 col-sm-4 col-6">

        <select v-model="university" @change="FilterCollege" id="sort_price">
          <option value="all" selected>All</option>
          <option
            v-for="university in universities"
            :key="university.id"
            :value="university.id"
          >
            {{ university.name }}
          </option>
        </select>
      </div>

    <div class="col-md-3 col-sm-4 col-6">

        <select v-model="col" @change="FilterQuestions"   id="sort_price">
          <option value="all" selected>All</option>
          <option
            v-for="college in colleges"
            :key="college.id"
            :value="college.id"
          >
            {{ college.name }}
          </option>
        </select>
      </div>

  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    props:{
UpdateCollege:Function
    },
  data() {
    return {
      colleges: {},
      university:null,
      col:null,
    };
  },
  created() {
    this.GetUniversities();
  },

  methods: {
    ...mapActions(["GetUniversities","GetFilteredCommonQuestions","GetCommonQuestions"]),
    FilterCollege(id) {
    var s=this.universities.filter(uni=>uni.id==this.university);
    console.log(s);
     this.colleges=s[0].colleges;

    },

    FilterQuestions(){
if(this.col=='all'){
this.UpdateCollege(null);
this.GetCommonQuestions();
}
else {


      this.UpdateCollege(this.col);
var s=this.col;
   this.$store.dispatch('GetFilteredCommonQuestions',{page:1,college:s});
}
    }
  },
  computed: {
    ...mapGetters(["universities"]),
  },
};
</script>

<style>
</style>
