<template>
  	<div  id="posts" class="row gutter-30" >
<colleges-component :UpdateCollege="UpdateCollege"/>
  <transition-group name="fadeLeft" tag="div"  class="col-12"  v-for="question in questions" :key="question.id">
     <single-common-question v-bind="question" :key="question.id" />
      </transition-group>


<pagination v-if="college===null" :data="paginatequestions" @pagination-change-page="filterCommonQuestions"></pagination>
<pagination v-else :data="paginatequestions" @pagination-change-page="filterAndPaginateCommonQuestions"></pagination>

					</div><!-- #posts end -->

</template>

<script>
import SingleCommonQuestion from './SingleCommonQuestion.vue';
import {mapActions,mapGetters} from 'vuex'
import CollegesComponent from './CollegesComponent.vue';
export default {
  components: { SingleCommonQuestion, CollegesComponent },
 data(){
     return{
         college:null
     }
 },

created(){
   this.GetCommonQuestions();
  //  this.$store.dispatch('GetCommonQuestions');
},
methods:{
    ...mapActions(['GetCommonQuestions',"GetFilteredCommonQuestions"]),

filterCommonQuestions(page){

    this.GetCommonQuestions(page);
},
filterAndPaginateCommonQuestions(page){

    this.GetFilteredCommonQuestions({page:page,college:this.college});
},
UpdateCollege(value){
    this.college=value;
}


}
,
computed:{
 ...mapGetters(['questions','paginatequestions'])
}
}
</script>

<style>

</style>
