<template>
  <div class="entry col-12">
							<div class="grid-inner">
								<div class="entry-image">

								</div>
								<div class="entry-title">
									<h2><a href="blog-single.html">{{question}}</a></h2>
								</div>
								<div class="entry-meta">
									<ul>
										<li><i class="icon-calendar3"></i> {{created_at}}</li>
										<li><a href="#"><i class="icon-user"></i> {{college.name}}</a></li>
										<li><i class="icon-folder-open"></i> <a href="#">{{college.specialization.name}}</a></li>
										<li><i class="icon-folder-open"></i> <a href="#">{{college.university.name}}</a></li>
										<li><a href="#"><i class="icon-camera-retro"></i></a></li>
									</ul>
								</div>
								<div class="entry-content">
									<p>{{answer}}</p>

								</div>
							</div>
						</div>
</template>

<script>
export default {
props:{
    answer:String,question:String,college:Object,created_at:String
}
}
</script>

<style>

</style>
