<template>
  	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-md-9">


					<profile-header-component :collegeUniversity="collegeProfile.college.university.name" :collegeLogo="collegeProfile.college.logo" :collegeName="collegeProfile.college.name" />

							<div class="clear"></div>

							<div class="row clearfix">

								<div class="col-lg-12">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#years" role="tab" aria-controls="years" aria-selected="true">Years</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#CommonQuestion" role="tab" aria-controls="CommonQuestion" aria-selected="false">CommonQuestion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="departments-tab" data-toggle="tab" href="#departments" role="tab" aria-controls="contact" aria-selected="false">Departments</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 <college-years-component :college="collegeProfile.college"  />
<main-gallery-component :collegeId="this.$route.params.id"/>
 <main-common-question :questions="collegeProfile.college.common_questions"/>
  <main-departments-component :departments="collegeProfile.college.departments" />
</div>


								</div>

							</div>

						</div>

						<div class="w-100 line d-block d-md-none"></div>

						<div class="col-md-3">

							<div class="list-group">
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Profile</div><i class="icon-user"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Servers</div><i class="icon-laptop2"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Messages</div><i class="icon-envelope2"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Billing</div><i class="icon-credit-cards"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Settings</div><i class="icon-cog"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Logout</div><i class="icon-line2-logout"></i></a>
							</div>

							<div class="fancy-title topmargin title-border">
								<h4>About Me</h4>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laboriosam, dignissimos veniam obcaecati. Quasi eaque, odio assumenda porro explicabo laborum!</p>

							<div class="fancy-title topmargin title-border">
								<h4>Social Profiles</h4>
							</div>

							<a href="#" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-gplus si-small si-rounded si-light" title="Google+">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-dribbble si-small si-rounded si-light" title="Dribbble">
								<i class="icon-dribbble"></i>
								<i class="icon-dribbble"></i>
							</a>

							<a href="#" class="social-icon si-flickr si-small si-rounded si-light" title="Flickr">
								<i class="icon-flickr"></i>
								<i class="icon-flickr"></i>
							</a>

							<a href="#" class="social-icon si-linkedin si-small si-rounded si-light" title="LinkedIn">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

							<a href="#" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import CollegeYearsComponent from './CollegeYears/CollegeYearsComponent.vue';
import MainCommonQuestion from './CommonQuestions/MainCommonQuestion.vue';
import MainDepartmentsComponent from './Departments/MainDepartmentsComponent.vue';
import MainGalleryComponent from './Gallery/MainGalleryComponent.vue';
import ProfileHeaderComponent from './ProfileHeaderComponent.vue';
export default {
  components: { ProfileHeaderComponent, CollegeYearsComponent, MainCommonQuestion, MainDepartmentsComponent, MainGalleryComponent },


created(){

this.GetCollegeProfile(this.$route.params.id);
},
methods:{

    ...mapActions(['GetCollegeProfile'])
},
computed:{
    ...mapGetters(['collegeProfile'])
}

}
</script>

<style>

</style>
