<template>
  		<div class="heading-block border-0">
              	<img :src="Logo" class="alignleft img-circle img-thumbnail my-0" alt="Avatar" style="max-width: 84px;">

								<h3>{{collegeName}}</h3>
								<span>{{collegeUniversity}}</span>
							</div>
</template>

<script>
import {ImageApi} from '../../../shared/api'
export default {
props:{
    collegeName:String,
    collegeLogo:String,
    collegeUniversity:String
},
computed:{

    Logo(){

        return ImageApi+this.collegeLogo
    }
}
}
</script>

<style>

</style>
