<template>

      	<section id="page-title">

			<div class="container clearfix">
				<h1>Universities</h1>
				<span>Our Universities</span>

			</div>

		</section><!-- #page-title end -->

</template>

<script>
export default {

}
</script>

<style>

</style>
