<template>
  	<div class="entry col-6">
							<div class="grid-inner">
								<div class="entry-image">
									<a :src="university.logo"  data-lightbox="image"><img :src="university.logo" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h2><router-link :to="{ name: 'colleges', params: { id:university.id } }">{{university.name}}</router-link></h2>
								</div>
								<div class="entry-meta">
									<ul>
										<li><i class="icon-calendar3"></i> {{university.created_at}}</li>
										<li><a href="#"><i class="icon-user"></i> {{university.site}}</a></li>

										<li><a href="#"><i class="icon-camera-retro"></i></a></li>
									</ul>
								</div>
								<div class="entry-content">
									<p>{{university.description}}</p>
									<router-link :to="{ name: 'colleges', params: { id:university.id } }" class="more-link">Read More</router-link>
								</div>
							</div>
						</div>
</template>

<script>
export default {
props:{
    university:Object
}
}
</script>

<style>

</style>
