<template>
  <div>
<header-component></header-component>
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts" class="row grid-container gutter-30">

					<single-university-component v-for="university in universities" :key="university.id"
                       :university="university" />


					</div><!-- #posts end -->

					<!-- Pager
					============================================= -->
					<div class="d-flex justify-content-between mt-5">
						<a href="#" class="btn btn-outline-secondary">&larr; Older</a>
						<a href="#" class="btn btn-outline-dark">Newer &rarr;</a>
					</div>
					<!-- .pager end -->

				</div>
			</div>
		</section><!-- #content end -->

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import HeaderComponent from './HeaderComponent.vue'
import SingleUniversityComponent from './SingleUniversityComponent.vue'
export default {
  components: {   HeaderComponent, SingleUniversityComponent },

created(){
this.GetUniversities();
},

methods:{
...mapActions(['GetUniversities'])
},

computed:{

    ...mapGetters(['universities'])
}
}
</script>

<style>

</style>
