<template>
  <div>
    <!-- Header
		============================================= -->
    <header id="header" class="header-size-sm">
      <div class="container">
        <div class="header-row">
          <!-- Logo
					============================================= -->
          <div id="logo" class="mx-auto">
            <a
              href="index.html"
              class="standard-logo"
              data-dark-logo="images/logo-dark.png"
              ><img src="images/logo.png" alt="Canvas Logo"
            /></a>
            <a
              href="index.html"
              class="retina-logo"
              data-dark-logo="images/logo-dark@2x.png"
              ><img src="images/logo@2x.png" alt="Canvas Logo"
            /></a>
          </div>
          <!-- #logo end -->
        </div>
      </div>

      <div id="header-wrap" class="border-top border-f5">
        <div class="container">
          <div class="header-row justify-content-center">
            <div class="header-misc">
              <!-- Top Search
							============================================= -->
              <div id="top-search" class="header-misc-icon">
                <a href="#" id="top-search-trigger"
                  ><i class="icon-line-search"></i
                  ><i class="icon-line-cross"></i
                ></a>
              </div>
              <!-- #top-search end -->
            </div>

            <div id="primary-menu-trigger">
              <svg class="svg-trigger" viewBox="0 0 100 100">
                <path
                  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
                ></path>
                <path d="m 30,50 h 40"></path>
                <path
                  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
                ></path>
              </svg>
            </div>

            <!-- Primary Navigation
						============================================= -->
            <nav class="primary-menu">
              <ul class="menu-container">

                <li class="menu-item" style="color: black">
                  <router-link class="menu-link" to="/"
                    ><div>Home</div></router-link
                  >
                </li>
                <li class="menu-item">
                  <router-link class="menu-link" to="/universities"
                    >Universities
                  </router-link>
                </li>
                <li class="menu-item">
                  <router-link class="menu-link" to="/contactus"
                    >Contact
                  </router-link>
                </li>

                <li class="menu-item">
                  <a class="menu-link" href="/profile"><div>Profile</div></a>
                </li>
                <li v-if="!isAuth" class="menu-item">
                  <router-link class="menu-link" to="/slogin"><div>Login</div></router-link>
                </li>
                 <li v-if="isAuth" class="menu-item">
                  <router-link class="menu-link transparent" to="/" @click.native="logouts"><div>Logout</div></router-link>
                </li>
                <li v-for="tab in tabs" :key="tab.id" class="menu-item">
                  <router-link class="menu-link" :to="'/tab/' + tab.id"
                    >{{tab.name}}
                  </router-link>
                </li>

                <div class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
                  <li class="menu-item">
                    <a
                      class="dropdown-item"
                      href="/logout"
                      onclick="event.preventDefault();
                                                  document.getElementById('logout-form').submit();"
                    >
                    </a>
                  </li>

                  <form
                    id="logout-form"
                    action="/logout"
                    method="POST"
                    class="d-none"
                  ></form>

                  <a href="/login" class="text-sm text-gray-700 underline"
                    >Login</a
                  >

                  <a
                    href="/register"
                    class="ml-4 text-sm text-gray-700 underline"
                    >Register</a
                  >
                </div>
              </ul>
            </nav>
            <!-- #primary-menu end -->

            <form class="top-search-form" action="search.html" method="get">
              <input
                type="text"
                name="q"
                class="form-control"
                value=""
                placeholder="Type &amp; Hit Enter.."
                autocomplete="off"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="header-wrap-clone"></div>
    </header>
    <!-- #header end -->
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {

methods:{
logouts(){
    this.$store.dispatch('logout');
}
},

    computed:{
        ...mapGetters(['isAuth','tabs']),
        ...mapActions(['logout'])
    }
};
</script>

<style>
</style>
